/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wceu-faq-block {
	margin: 12px 0;

	& details {
		background-color: rgb(199, 226, 228);
		margin-bottom: 8px;
	}

	& details summary {
		padding: 4px;
		color: white;
		background-color: rgb(69, 118, 121);
	}

	& details .faq-content {
		padding: 4px 16px;
	}
}
