/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wceu-faq-block {
	margin: 12px 0;

	& details {
		color: var(--answer-text-color);
		background-color: var(--answer-background-color);
		margin-bottom: 8px;
	}

	& details summary {
		padding: 4px;
		color: var(--question-text-color);
		background-color: var(--question-background-color);
	}

	& details .faq-content {
		padding: 4px 16px;
	}
}
