.wceu-faq {
  margin: 12px 0;
}

.wceu-faq details {
  background-color: rgb(199, 226, 228); 
  margin-bottom: 8px;
}

.wceu-faq details summary {
  padding: 4px;
  color: white;
  background-color: rgb(69, 118, 121); 
}

.wceu-faq details .faq-content {
  padding: 4px 16px;
}